<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>COMBU</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/owl.carousel.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/owl.transitions.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/animate.min.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/lightbox.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/preloader.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/image.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/icon.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/style.css">
		<link rel="stylesheet" href="/public/frontpage/static/css/responsive.css">

	</head>
	<body id="top">


        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body"><img src="/public/frontpage/static/img/logo.png" width="35" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#features">Como funciona</a></li>
                        <li><a href="#beneficios">Benefícios</a></li>
                        <li><a href="#contact-form">Contato</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>


	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h1 id="marca">COMBU</h1>
							<h2>Feito para ser simples.</h2>
							<div class="buttons">
								<button type="button" class="btn btn-default btn-header" data-toggle="modal" data-target="#modal-login">
  ENTRAR
</button>
								<button type="button" class="btn btn-default btn-header" data-toggle="modal" data-target="#modal-signin">
  CADASTRE-SE
</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#features" class="scroll"></a>
	        </div>
		</section>
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>COMO FUNCIONA</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12 col-sm-12">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img src="/public/frontpage/static/img/icons/handshake.png" alt="" width="120">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Entre</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Seu espaço para fazer o controle de gasto com combustíveis.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img src="/public/frontpage/static/img/icons/analytics.png" alt="" width="120">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Faça a gestão</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Nós te ajudamos com gráficos e indicadores.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img src="/public/frontpage/static/img/icons/cardiogram.png" alt="" width="120">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Veja os resultados</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Controle melhor os seus gastos com combustível.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
        <section id="features">
			<div id="beneficios" class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Benefícios</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12 col-sm-12">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img src="/public/frontpage/static/img/icons/alarm-clock.png" alt="" width="120">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Ganhe em produtividade</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Menos peso e mais eficiência para os colaboradores.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img src="/public/frontpage/static/img/icons/strongbox.png" alt="" width="120">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Evite fraudes</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12">
						<div class="feature-block text-center">
							<div class="icon-box">
								<img src="/public/frontpage/static/img/icons/levels.png" alt="" width="120">
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Controle total</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Tenha todas as informações 100% online, todos os dias, pra você.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact-form">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>FALA COM A GENTE</h2>
					</div>
					<div class="col-md-6 col">
                        <br>
                        <br>
                        <h3>Endereço: <small>R. do Apolo, n 235 - 50030-220 - Recife PE</small> </h3>
                        <br>
                    <h3><p>Telefone: <small>+55 81 98544-4669</small></p> </h3>
                        <br>
                    <h3>Email: <small>domínio@algumacoisa.com</small></h3>
                        <br>
                    <h3>Horário: <small><strong>Segunda-Sexta:</strong> 8:00 - 19:00 hrs</small> </h3>
					</div>
					<div class="col-md-6">
						<form novalidate name="contato_combu" method="post">
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="text" class="form-control" placeholder="Email">
                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            <button class="btn btn-default" type="submit">SEND</button>

                        </form>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<p>All rights reserved © COMBU </p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

        <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Cadastrar</h4>
              </div>
              <div class="modal-body">
                <form name="cadastro_combu" method="post" action="">
                                    <input type="text" class="form-control input-style" placeholder="Nome">
                                    <input type="text" class="form-control input-style" placeholder="Sobrenome">
                                    <input type="text" class="form-control input-style" placeholder="CNPJ">
                                    <input type="text" class="form-control input-style" placeholder="Login">
                                    <input type="password" class="form-control input-style" placeholder="Senha">

                                     <button type="button" class="btn btn-default btn-header" data-dismiss="modal">Sair</button>
                <button type="submit" class="btn btn-default btn-header" onclick="valioCad()">Cadastrar</button>
                                </form>


              </div>
              </div>
          </div>
        </div>

        <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Entrar</h4>
              </div>
              <div class="modal-body">
                <form name="login_combu" method="post">
                    <input type="text" name="user" class="form-control input-style" placeholder="Username">
                    <input type="password" name="password" class="form-control input-style" placeholder="Senha">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-header" data-dismiss="modal">Sair</button>
                            <button class="btn btn-default btn-header" type="submit">Entrar</button>
                        </div>
                </form>
              </div>
            </div>
          </div>
        </div>



	</body>

    	<!-- load Js -->
		<script src="/public/frontpage/static/js/jquery-1.11.3.min.js"></script>
		<script src="/public/frontpage/static/js/bootstrap.min.js"></script>
		<script src="/public/frontpage/static/js/waypoints.min.js"></script>
		<script src="/public/frontpage/static/js/lightbox.js"></script>
		<script src="/public/frontpage/static/js/jquery.counterup.min.js"></script>
		<script src="/public/frontpage/static/js/owl.carousel.min.js"></script>
		<script src="/public/frontpage/static/js/html5lightbox.js"></script>
		<script src="/public/frontpage/static/js/jquery.mixitup.js"></script>
		<script src="/public/frontpage/static/js/wow.min.js"></script>
		<script src="/public/frontpage/static/js/jquery.scrollUp.js"></script>
		<script src="/public/frontpage/static/js/jquery.sticky.js"></script>
		<script src="/public/frontpage/static/js/jquery.nav.js"></script>
		<script src="/public/frontpage/static/js/main.js"></script>
</html>
